<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownArtikel" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Artikel
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropDownArtikel">
                        <a class="dropdown-item" href="{% url 'artikel:index' %}">Lihat Artikel</a>
                        <a class="dropdown-item" href="{% url 'artikel:tambah' %}">Tambah Artikel</a>
                        <a class="dropdown-item" href="{% url 'artikel:manage' %}">Manage Artikel</a>
                    </div>
                </li>
            </ul>
            <div class="nav-item dropdown ml-auto ">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropDownUser" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDownUser">
                    <a class="dropdown-item" href="#">Tambah Artikel</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                </div>
            </div>
        </div>
    </div>
</nav>