<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>

    <body>
        <h1>Home {{penulis}}</h1>
        <h3>{{tipe}}</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero tempora ipsam ipsum veniam ad vero
            repellendus voluptatem officiis culpa hic earum esse placeat voluptate, blanditiis cumque deserunt facilis
            quam totam!
        </p>

    </body>

</html>