{% extends 'socialmedia/index.html' %}


{% block content %}

{% if socialmedia_errors %}
<div class="row">
    <div class="col">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{socialmedia_errors}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Tambah Akun Social Media</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <form action="{% url 'socmed:tambah' %}" method='post'>
            {% csrf_token %}

            {% for form in socialmedia_form %}
            <div class="form-group">
                {{form.label}}
                {{form}}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary btn-sm">Buat</button>
        </form>
    </div>
</div>

{% endblock content %}