<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title_page}}</title>
    </head>

    <body>
        <h2>{{sub_title}}</h2>
        {% comment %} implementasi URL Naming {% endcomment %}
        {% comment %} <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'index' %}">Blog</a></li>
            <li><a href="{% url 'category' %}">Category Post</a></li>
            <li><a href="{% url 'single' %}">Single Post</a></li>
            <li><a href="{% url 'khusus' input='1234' %}">Khusus</a></li>
        </ul> {% endcomment %}
        {% comment %} URL namespacing {% endcomment %}
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'blog:index' %}">Blog</a></li>
            <li><a href="{% url 'blog:category' %}">Category Post</a></li>
            <li><a href="{% url 'blog:single' %}">Single Post</a></li>
            <li><a href="{% url 'blog:khusus' input='1234' %}">Khusus</a></li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores neque doloremque mollitia itaque, fugiat
            impedit laudantium, maiores repellat quaerat nemo ad facere qui pariatur! Illum facere officia cupiditate
            corporis veritatis.</p>
    </body>

</html>