<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title_page}}</title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'contact:index' %}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <header>
                <h2>{{sub_title}}</h2>
            </header>
            <article>
                {% block content %}

                {% endblock content %}
            </article>
        </main>
    </body>

</html>