{% extends 'base.html' %}


{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Home</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its
            parent.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        {% for artikel in artikel_latest_list %}
        <div class="col-lg-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{artikel.judul}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><a
                            href="{% url 'artikel:kategori' artikel.kategori.nama_kategori 1 %}">{{artikel.kategori.nama_kategori}}</a>
                        |
                        {{artikel.published|date}}
                    </h6>
                    <p class="card-text">{{artikel.isi|truncatewords:23}}</p>
                    <a href="{% url 'artikel:detail' artikel.id %}" class="card-link">Lihat selengkapnya</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}