{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'snippets/styles.html' %}
        <title>{{title_page}}</title>
    </head>

    <body>
        <header>
            {% include 'snippets/navbar.html' %}
        </header>
        <main>
            <article>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container-fluid">
                        <h1 class="display-4">{{sub_title_page}}</h1>
                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its
                            parent.</p>

                        {% block jumbotron_button %}

                        {% endblock jumbotron_button %}

                    </div>
                </div>
            </article>
            <article>
                {% block content %}

                {% endblock content %}
            </article>
        </main>
        {% include 'snippets/scripts.html' %}
    </body>

</html>