{% extends 'base.html' %}



{% block content %}
<div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">Manage Artikel</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so
        that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <a href="{% url 'artikel:tambah' %}" class='btn btn-primary btn-block'>Tambah Artikel</a>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nomor</th>
            <th scope="col">Judul</th>
            <th scope="col">Tanggal Publish</th>
            <th scope="col">Isi</th>
            <th scope="col">Kategori</th>
            <th scope="col">Aksi</th>
        </tr>
    </thead>
    <tbody>

        {% for artikel in artikel_list %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{artikel.judul}}</td>
            <td>{{artikel.published}}</td>
            <td>{{artikel.isi}}</td>
            <td>{{artikel.kategori.nama_kategori}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'artikel:update' artikel.id %}" class="btn btn-warning">Update</a>
                    <a href="{% url 'artikel:hapus' artikel.id %}" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}